<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate Security System</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/QRLogo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Gate Security System</h1>
        <p>Welcome to our gate security system website. We provide a comprehensive solution for gate access control using QR code technology.</p>

        <div class="service">
            <h2>QR Code Generation</h2>
            <p>Our system allows you to generate QR codes for gate access. Each QR code is unique and can be assigned to individuals or vehicles for access authorization.</p>
            <img class="qr-code-img" src="/static/images/qr_code_generation.png" alt="QR Code Generation">
        </div>

        <div class="service">
            <h2>QR Code Scanning</h2>
            <p>Our application enables gate security personnel to scan QR codes using a camera-equipped device to verify access permissions. Instant access status is displayed, allowing quick decision-making.</p>
            <img class="qr-code-img" src="/static/images/qr_code_scanning.png" alt="QR Code Scanning">
        </div>

        <h2>About Our System</h2>
        <p>Our gate security system provides a seamless and efficient solution for access control, enhancing security and convenience for gated communities, residential complexes, businesses, and more.</p>
    </div>

    <div class="footer-content">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>If you have any inquiries or need assistance, feel free to contact us:</p>
            <p>Email: info@2AMScurity.com</p>
            <p>Phone: +919021300699</p>
        </div>
        <p>&copy; 2024 2AM SECURITY. All rights reserved.</p>
    </div>
</body>
</html>
