<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2AM Security Dashboard</title>
    <link rel="stylesheet" href="/static/Dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo"> <img src="/static/images/pngegg.png" alt="2AM Security"> </div>
        <nav>
            <ul>
                <li><a href="/register">register for user</a></li>
                <li><a href="/visitor">register for visitor</a></li>
                <li><a href="/scanner">Scanner</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- User Information Card -->
        
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; GateVise. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
