<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/Dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/QRLogo.png" alt="AM Security">
        </div>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                
                <li><a href="/security_login">Security Gaurd</a></li>
                <li><a href="/admin_login">Admin</a></li>
                
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Main content goes here -->
    </main>
    <footer>
        <!-- Footer content goes here -->
        <div class="footer-content">
            <p >&copy; GateVise. All rights reserved.</p><br>
            <div class="wrapper">
                <div class="button">
                   <div class="icon">
                      <i class="fab fa-facebook-f"></i>
                   </div>
                   <span>Facebook</span>
                </div>
                <div class="button">
                   <div class="icon">
                      <i class="fab fa-twitter"></i>
                   </div>
                   <span>Twitter</span>
                </div>
                <div class="button">
                   <div class="icon">
                      <i class="fab fa-instagram"></i>
                   </div>
                   <span>Instagram</span>
                </div>
                <div class="button">
                   <div class="icon">
                      <i class="fab fa-github"></i>
                   </div>
                   <span>Github</span>
                </div>
                <div class="button">
                   <div class="icon">
                      <i class="fab fa-youtube"></i>
                   </div>
                   <span>YouTube</span>
                </div>
             </div>
            
        </div>
    </footer>

</body>
</html>
